{# templates/blog/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for evenement in evenements %}
                <div class="col s12 m4 l3">
                    <div class="evenement-card">
                        <img src="{{ asset('uploads/' ~ evenement.picture) }}" class="responsive-img">
                        <h2><a href="{{ path('article_show', {'id': evenement.id}) }}">{{ evenement.title }}</a></h2>
                        <span class="date">{{ evenement.publicationDate|date('d/m/Y') }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}