{# templates/blog/index.html.twig #}

{% extends "base.html.twig" %}

{% block title %}{{ 'Home' | trans }} | {{ parent() }}{% endblock %}

{% block content %}
{#    <div class="jumbotron">#}
{#        <div class="container">#}
{#            {{ form_start(form) }}#}
{#                <div class="form-row">#}
{#                    <div class="col">#}
{#                        {{ form_row() }}#}
{#                    </div>#}
{#                </div>#}
{#            {{ form_end }}#}
{#        </div>#}
{#    </div>#}
    {% if app.user %}
    <div class="container">
        <div class="row">
            {% for evenement in evenements %}
                <div class="col s6 m6 l12">
                    <div class="evenement-card">
                        <table>
                            <thead></thead>
                            <tr>
                                <th><img src="{{ asset('uploads/' ~ evenement.picture) }}" class="center"></th>
                            </tr>
                            </tr>
                                <th>{{ 'Name of the event'| trans}} :</th>
                                <th><a href="{{ path('article_show', {'id': evenement.id}) }}">{{ evenement.title }}</a></th>
                            </tr>
                            <tr>
                                <th>{{ 'Date of the event'| trans}} :</th>
                                <th><span class="date">{{ evenement.dateEvent|date('d/m/Y') }}</span></th>
                            </tr>
                            <tr>
                                <th>{{ 'Place of the event'| trans}} :</th>
                                <th><span class="date">{{ evenement.Place }}</span></th>
                            </tr>
                            <tr>
                                <th>{{ 'Created by'| trans}} :</th>
                                <th><span class="date">{{ evenement.createur.username }}</span></th>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% else %}
        <div class="center">
            <img src="{{ asset('img/group.png') }}">
            <h1>{{ 'Welcome to Social Blog' | trans}}</h1>
            <h5>{{ 'Log in or create an account to access the latest events' | trans}}</h5>
        </div>
    {% endif %}
{% endblock %}