{{ form_start(form, {'attr': {'class': 'row'}}) }}
    <div class="input-field col s12 m12 l12">
        {{ form_widget(form.picture) }}
        <span class="error">{{ form_errors(form.picture) }}</span>
    </div>

    <div class="input-field col s12 m6 l6">
        <span>{{ 'Name of the event'| trans}}</span>
        {{ form_widget(form.title, {'attr': {'placeholder': ' '}}) }}
        {{ form_label(form.title, ' ') }}
        <span class="error">{{ form_errors(form.title) }}</span>
    </div>

    <div class="input-field col s12 m6 l6">
        <span>{{ 'Choose one or more categories'| trans}}</span>
        {{ form_widget(form.categorie) }}
        {{ form_label(form.categorie, ' ') }}
    </div>

    <div class="date col s2 m3 l6">
        <span>{{ 'Date of the event'| trans}}</span>
        {{ form_label(form.dateEvent, ' ') }}
        {{ form_widget(form.dateEvent) }}
    </div>

    {#<div class="input-field col s12 m3 l3">#}
    {#    <input type="date" max="2030-01-01" min="2021-03-23" name="the_date">#}
    {#</div>#}

    <div class="input-field col s12 m3 l12">
        <span>{{ 'Place'| trans}}</span>
        {{ form_label(form.Place, ' ') }}
        {{ form_widget(form.Place) }}
    </div>

    <div class="input-field col s12 m12 l12">
        <span>{{ 'Descripiton'| trans}}</span>
        {{ form_label(form.content, ' ') }}
        {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea', 'placeholder': ' '}}) }}
    </div>

    <div class="input-field col s12 m12 l12">
        <p>
            <label>
                {{ form_widget(form.isPublished, {'attr': {'class': 'filled-in'}}) }}
                <span>{{ 'Publish the event'| trans}} ?</span>
            </label>
        </p>
    </div>

    <div class="input-field col s12 m12 l12">
        <input type="submit" name="" value={{ 'Save'| trans}} class="btn btn-primary">
    </div>
{{ form_end(form) }}